* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
}

body {
    background: url('https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center fixed;
    background-size: cover;
    font-family: 'Crete Round', serif;
}

header {
    color: rgb(252, 255, 225);
    margin: 0 auto;
    background-color: rgb(202, 76, 38);
    font-family: 'Abril Fatface', cursive;
    padding: 60px 0;
    letter-spacing: 2px;
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

main {
    color: #293057;
    padding: 100px 75px 50px;
    max-width: 1200px;
    margin: 50px auto;
}

.welcome {
    font-size: 125%;
    line-height: 50px;
    background-color: #a3ca70;
    margin: auto 12.5%;
    padding: 100px 75px 50px;
}

.start {
    font-size: 125%;
    font-weight: bolder;
    padding: 15px 25px;
    margin: 60px auto 30px;
    display: block;
    color: seagreen;
    background-color: #ffbe93;
    border: 2px outset rgba(211, 211, 211);
    border-radius: 15px;
}

.start:hover,
.start:focus {
    border: 2px inset silver;
    box-shadow: 2px 2px;
    background-color: lightsalmon;
}

form {
    background-color: #a3ca70;
    padding: 40px 5px;
    text-align: left;
    max-width: 500px;
    margin: auto;
    line-height: 75px;
}

label {
    font-size: 115%;
    display: block;
    text-align: center;
}

select {
    color: darkgreen;
    display: block;
    margin: 10px auto;
    border: 3px solid lightblue;
    font-family: 'Crete Round', serif;
}

.park {
    line-height: 145%;
    background-color: #b7edff;
    margin: 45px auto 13px;
    max-width: 720px;
    padding-bottom: 25px;
}

.park-content {
    padding: 25px 60px;
    line-height: 45px;
}

.map {
    width: 90%;
    margin: auto;
}

.js-result-name {
    color: #014e01;
}

.js-result-name:hover {
    color: salmon;
    text-decoration: underline;
}

.park h1 {
    font-size: 125%;
    padding: 25px;
    background-color: #99d1e4;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 20px;
    text-align: center;
}

.camp h3 {
    font-size: 115%;
    padding: 15px 0;
    border: 1px solid silver;
    background-color: #99d1e4;
}

p {
    padding: 5px 0px 20px;
    word-wrap: break-word;
}

.info {
    position: relative;
    margin-bottom: 25px;
}

.info a {
    padding: 10px 0;
    background-color: lightgreen;
}

.info a:hover {
    color: darkgreen;
    background-color: #fbb498;
}

.expanded-info {
    background-color: #a3ca707d;
    border: 1px solid lavender;
    margin: 0;
    padding: 15px 35px;
}

.expanded-info a {
    padding: 0;
    margin: 0;
}

.expanded-info a:hover {
    color: darkgreen;
}

h3 {
    text-align: center;
}

h4 {
    padding: 15px 15px 5px;
}

.no-info {
    text-align: center;
}

.camp-results {
    border: 1px solid lightgoldenrodyellow;
}

.camp-results h3 {
    padding: 13px;
    background-color: #99d1e4;
    font-size: 22px;
}

.alerts p,
.alerts h4,
.campgrounds p,
.campgrounds h4 {
    background-color: lightgreen;
    padding-top: 15px;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: rgb(0, 0, 139);
    text-decoration: none;
    text-align: center;
}

.toggle-style {
    padding: 10px 0;
    width: 100%;
    border: 1px solid lavender;
    display: inline-block;
    font-family: 'Crete Round', serif;
    cursor: pointer;
    color: darkgreen;
    background-color: #fbb498;
}

.hidden {
    display: none;
}

.right {
    float: right;
    padding: 10px 20px 10px;
}

footer {
    margin: auto;
    text-align: center;
    line-height: 55px;
    padding-bottom: 150px;
}

.up {
    background: yellowgreen;
    font-size: 250%;
    border-radius: 100%;
    padding: 2px 8px;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1100px) {
    .welcome,
    label {
        margin: auto 5%;
    }
}

@media only screen and (max-width: 800px) {
    .welcome,
    label {
        margin: auto 0;
    }
    main {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 620px) {
    main {
        margin: 0 auto;
        padding: 0;
    }
    .welcome,
    label {
        margin: 0;
        font-size: inherit;
        padding: 50px 30px 45px 50px;
    }
    form {
        margin: 25% 10%;
        line-height: 35px;
    }
    .map {
        margin: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    header {
        text-align: center;
        padding: 16px 8px 16px;
    }
    header h1 {
        font-size: 0.7em;
    }
    .park-content {
        padding: 15px;
    }
    form {
        margin: 25% 5%;
        padding: 0;
    }
    h2,
    h3 {
        font-family: 'Abril Fatface', cursive;
    }
    .toggle-style {
        margin-right: 5px;
    }
    .js-result-name {
        font-size: .9em;
    }
}