* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  padding-top: 50px;
}

header, main {
  max-width: 1400px;
  margin: 0 auto;
}

.welcome {
  max-width: 960px;
  margin: 50px auto;
}

span {
  font-weight: bold;
}

button {
    font-size: inherit;
    padding: 20px 40px;
    margin: 100px auto;
    display: block;
    background-color: rgba(211, 211, 211, 0.432);
    border: 2px outset lightgray;
    border-image: initial;
}

button:hover, button:focus {
  background-color: silver;
}

form {
  margin: 20px;
  text-align: left;
}

label {
  display: block;
  text-align: center;
}

select {
  font-size: 100%;
  display: block;
  margin: 10px auto;
  border: 1px solid lightgray;
}

.park {
  border: 1px solid lightblue;
  margin: 5px auto;
}

#map {
  width: 95%;
  margin: 2.5%;
} 

.campgrounds {
  margin: 25px auto;
}

.al, .camp {
  border: 1px solid lavender;
  margin:4px;
} 

h2, h3, h4, p {
  padding: 10px;
}

p:last-of-type {
  margin-bottom: 20px;
}

.alerts, .campgrounds {
  position: relative;
  left:0;
}

.toggle {
  position: absolute;
  top:0;
  right: 0;
  display: inline-block;
  width: 50px;
  background-color: rgba(211, 211, 211, 0.432);
  border: 2px outset lightgray;
  border-image: initial;
  padding: 5px;
  margin:0;
}

.hidden {
  display: none;
}



span {
  font-weight: bold;
}

@media only screen and (min-width: 320px) {
  h1 {
    font-size: 1.45em;
    text-align: center;
  }
  
  h2 {font-size: 1.2em;}

  h3 {font-size: inherit;}
}
